@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --body-bg: #0d0b16d5;
    --sidebar-bg: #b6d3ff;
    --main-content-bg: #f0f0f0;
    --text-color: #02001D;
    --text-color2: #f4f4f4;
    --text-color3: #7d76ff;
    --heading-color: #00BF43;
    --icon-color: #0E0F2F;
    --btn-color: #b6d3ff;
    --secondery-color: #1c9fe6;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: url('./assets/icons/cursor.png');

}

body {
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    scroll-behavior: smooth;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 86vh;
    gap: 50px;
    /* cursor: ur("assets/icons/Aero-Normal_cursor.cur"), auto; */

}

.sidebar {
    width: 5.5rem;
    background-color: var(--sidebar-bg);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px 0;
    border-radius: 15px;
    /* overflow: hidden; */
}


.profile-image img {
    width: 9rem;
    height: 9rem;
    border-radius: 20px 20px;
    /* background-color: #90ff90; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    font-size: 12px;
    margin-top: -30px;
    color: var(--text-color);
    border: 3px solid var(--btn-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 2px;
}


.nav-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -45px;
}

.nav-icons a {
    margin: 15px 0;
    color: var(--icon-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-icons a img {
    height: 55px;
    margin-bottom: 5px;
    transition: color 0.3s ease;
    background-color: var(--main-content-bg);
    padding: 10px;
    border-radius: 500px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.nav-icons a span {
    background-color: var(--main-content-bg);
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 10px;
    margin-top: -10px;
    color: var(--icon-color);
    transition: color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


.nav-icons a span:hover,
.nav-icons a img:hover {
    color: var(--extra);

}


.nav-icons a:hover {
    transform: scale(1.1);
}

.nav-icons a:active {
    transform: scale(0.9);
}

.email:hover {
    color: var(--text-color3);
    text-decoration: underline;
    transition: all ease 0.15s;
}


/* Main */
/* 

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    overflow-y: auto;
  }
   */

.scroll {
    /* height: 100vh; */
    border-top: black solid 0.35px;
    background-color: var(--main-content-bg);
    position: sticky;
    top: 0;

}

.main-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.name-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sidebar-bg);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: var(--text-color);
    align-items: center;
    text-align: center;
    display: inline-block;
    padding: 7px 30px;
    /* height: 15rem; */
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 10px auto 10px;
    /* overflow: hidden; */
}

.name-header .name {
    display: inline-block;
    font-size: 24px;
}

.main-content {
    flex-grow: 1;
    background-color: var(--main-content-bg);
    box-shadow:
        rgba(255, 255, 255, 0.8) -5px -5px 10px 0px inset,
        rgba(0, 0, 0, 0.2) 5px 5px 10px 0px inset,
        rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    border-radius: 20px 10px 10px 20px;
    /* margin-left: 10px; */
    overflow-y: auto;
    /* padding: 20px; */
}


/* Custom scrollbar */
.main-content::-webkit-scrollbar {
    display: none;
    width: 7px;
}

/* 
.main-content::-webkit-scrollbar-track {
    background: var(--sidebar-bg);
    border-radius: 0 210px 210px 0;
}

.main-content::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 20px;
} */

/* Hero Section */

.content-section {
    margin-bottom: 60px;
    padding-top: 6rem;
}

/* Responsive Design */




/* .line {
    margin: 0;
    --s: 44px;
    --b: 6px;
    --m: 0.7;

    background: var(--body-bg);
    --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
    height: calc(2*var(--R));
    width: 100%;
    --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
    mask:
        radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) calc(50% - 2*var(--s)) calc(50% - var(--s)/4 - var(--b)/2)/calc(2*var(--s)) calc(var(--s) + var(--b)) repeat-x,
        radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)), var(--_g)) 50% calc(50% + var(--s)/4 + var(--b)/2)/calc(2*var(--s)) calc(var(--s) + var(--b)) repeat-x;
} */

.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: -20px;
    /* padding-bottom: 30px; */
    padding: 30px 60px;
}

.hero-text h2 {
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 10px;
}

.hero-text h3 {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 20px;
}

.hero-text h4 {
    color: var(--text-color3);
    margin-bottom: 15px;
}

.typing-text {
    font-size: 34px;
    font-weight: 400;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "software Developer";
    color: var(--text-color3);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(107, 208, 241);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #8082f7;
    }
}

@keyframes words {

    0%,
    25% {
        content: "BCA Student";
    }

    26%,
    50% {
        content: "Web Developer";
    }

    76%,
    100% {
        content: "Web Designer";
    }

}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: -33px;
}

/* Common button styles */
.btn {
    padding: 10px 25px;
    border: none;
    border-radius: var(--radius-5, 5px);
    font-size: var(--fs-5, 1em);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: var(--text-color, white);
    position: relative;
    overflow: hidden;
    max-width: max-content;
    /* margin-inline: auto; */
    font-weight: var(--fw-500, 500);
}

.cta-buttons a:nth-child(1) {
    background-color: #b6d3ff;
    color: var(--text-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.cta-buttons a:nth-child(1):hover {
    background-color: #a9e4fb;
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.cta-buttons a:nth-child(2) {
    background-color: #2e2e2e;
    color: white;
    box-shadow: rgb(10, 0, 52) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.cta-buttons a:nth-child(2):hover {
    box-shadow: rgb(10, 0, 52) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: #010101;
}

.btn.badge {
    padding: 6px 18px;
    border-radius: var(--radius-5, 5px);
    font-size: var(--fs-5, 1em);
    font-weight: var(--fw-500, 500);
    transition: all 0.3s ease, background-color 0.6s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: hsla(var(--color, 220, 90%, 50%), 0.1);
    color: hsl(var(--color, 220, 90%, 50%));
}

.btn.badge::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: hsla(var(--color, 220, 90%, 50%), 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease;
}

.btn.badge:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.319);
    animation: pulse 1s infinite;
}

.btn.badge:hover::before {
    width: 300px;
    height: 300px;
}

.btn.badge:active {
    transform: scale(0.95);
    background-color: hsla(var(--color, 220, 90%, 50%), 0.3);
    box-shadow: 0 2px 4px rgba(52, 52, 52, 0.424);
}


/* CONTACT SECTION STYLING */


#contact {
    padding: 30px 60px;
    text-align: center;
}

#contact h2 {
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--btn-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: var(--text-color);
    font-size: 1.4em;
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 5px;
    animation: fadeIn 1s ease-out;
} 

.btn {
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--body-bg);
    color: var(--text-color2);
    font-size: 1em;
    position: relative;
    box-shadow: rgb(0, 24, 45) 3px 3px 6px 0px inset, #ffffff80 -3px -3px 6px 1px inset;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 5px;
    animation: fadeIn 1s ease-out;
}

.btn:hover {
    background-color: var(--btn-color);
    color: var(--text-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.btn-center {
    display: block;
    width: 100%;
    text-align: center;
}

.social-links a {
    font-size: 24px;
    margin-right: 15px;
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: -20px;
}

.social-links a:hover {
    transform: scale(1.2);
}

.social-links a:nth-child(1) {
    color: #050049;
}

.social-links a:nth-child(1):hover {
    color: #000000;
}

.social-links a:nth-child(2):hover {
    color: #0A66C2;
}

.social-links a:nth-child(3):hover {
    color: #f04ac7;
}

.social-links a:active {
    transform: scale(0.95);
}


.main-img img {
    width: 20rem;
    height: 20rem;
    background: rgb(169, 166, 255);
    background: radial-gradient(circle, rgb(218, 226, 219) 0%, #B6D3FF);
    box-shadow: rgb(188, 193, 253) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset, rgba(0, 0, 0, 0.2) 6px 6px 10px 0px;
    border-radius: 67% 33% 35% 65% / 41% 57% 43% 59%;
    animation: float 3s ease-in-out infinite;
}

/* @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
} */

.content-section:not(:last-child) {
    padding-bottom: 10px;
}


/* Responsive styles for hero section and related elements */




/* About Section Styles */
/* About Section Styles */
#about {
    padding: 60px 60px;
    color: var(--text-color3);
    text-align: center;

}

#about h2 {
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--btn-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: var(--text-color);
    font-size: 1.4em;
    position: relative;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 5px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about-image {
    width: 200px;
    height: 250px;
    margin: 15px 30px 0 0;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* scale: 2.0; */
    transition: transform 0.3s ease;

}

.about-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

.about-text {
    flex: 1;
    max-width: 600px;
}

.about-text ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    color: var(--text-color);
    margin-bottom: 20px;
}

.about-text ul li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.6;
    position: relative;
    padding-left: 20px;
    color: #f5f5f5;
}

.about-text ul li::before {
    content: '\2023';
    color: var(--text-color3);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    transform: translateY(-2px);
}

.about-text ul li.education-item::before {
    content: '•';
}

#about ul li {
    color: var(--text-color);
}



/* Skills Section Styles */

#skills {
    padding: 60px 60px 90px 60px;
    /* padding: 60px; */
    margin-bottom: 40px;
    text-align: center;
}

#skills h2 {
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--btn-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: var(--text-color);
    font-size: 1.4em;
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 5px;
    animation: fadeIn 1s ease-out;
}

.skill h3 {
    margin-bottom: 20px;
}

.tools-technology {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-auto-flow: row;

}

.skill .skill-info i {
    font-size: 1rem;
}

.skill .skill-info h4 {
    font-size: .8rem;
}

.skill {
    text-align: left;
    background-color: var(--main-content-bg);
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--text-color2);
}

.skill:hover {
    transform: translateY(-8px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.skill-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.skill-info i {
    /* background-color: white;
    padding: 10px; 
    border-radius: 50px;*/
    font-size: 4rem;
    color: var(--icon-color);
}

.skill-info h4 {
    font-size: 1rem;
    color: var(--text-color2);
    margin: 0;
}

.progress-bar {
    background-color: var(--text-color2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 10px;
    width: 100%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar .progress {
    background-color: var(--secondery-color);
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 1s ease-out;
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.progress-bar[data-percent='70%'] .progress {
    width: 70%;
}

.progress-bar[data-percent='60%'] .progress {
    width: 60%;
}

.progress-bar[data-percent='85%'] .progress {
    width: 85%;
}

.progress-bar[data-percent='50%'] .progress {
    width: 50%;
}

.progress-bar[data-percent='75%'] .progress {
    width: 75%;
}

.skill:hover .progress-bar::after {
    content: attr(data-percent);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-weight: bold;
    font-size: .6rem;
}

 
/* Projects Section Styling */

#projects {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 60px;
    text-align: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 3rem;
    background-color: var(--btn-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: var(--text-color);
    font-size: 1.4em;
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 5px;
    animation: fadeIn 1s ease-out;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: var(--secondery-color);
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.timeline-content {
    width: 45%;
}

.timeline-content img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-wrapper {
    position: relative;
    width: 350px;
}

.project-links {
    position: absolute;
    top: -40px;
    /* Adjust this value to control the distance above the overlay */
    left: 50%;
    transform: translateX(-50%);
    /* Center the button horizontally */
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 13px;
}

.project-wrapper:hover .project-links {
    opacity: 1;
    transform: translate(-50%, 0);
    /* Show the button smoothly */
}

.overlay {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.project-image {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-image:hover img {
    transform: scale(1.1);
    /* Scale the image on hover */
}

.project-btn {
    padding: 7px 15px;
    border: none;
    border-radius: 31px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: var(--text-color2);
    background-color: var(--body-bg);
    position: relative;
    overflow: hidden;
    max-width: max-content;
    box-shadow: rgb(10, 0, 52) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin-inline: auto;
    font-weight: var(--fw-500, 500);
}

.project-btn:hover {
    background-color: var(--btn-color);
    color: var(--text-color);
    box-shadow: rgb(117, 187, 249) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.project-btn:active {
    transform: translateY(0);
}

.project-btn:nth-child(2) {
    transition-delay: 0.1s;
}

.timeline-content h3 {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.project-type {
    color: var(--text-color3);
    font-style: italic;
    margin-bottom: 10px;
    font-size: .8rem;
}

.project-description {
    margin-bottom: 15px;
    font-size: 14px;
}

.tech-stack span {
    display: inline-block;
    background: var(--icon-color);
    color: var(--text-color2);
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 0.8rem;
    margin-right: 5px;
    margin-bottom: 5px;
}


/* .timeline-content.left .project-image img{
    width: 85%;
    align-content: center;
    justify-content: center;
  } */

/* Alternating left-right layout */
.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-item:nth-child(odd) .timeline-content.left,
.timeline-item:nth-child(even) .timeline-content.right {
    text-align: center;
}


#thanks {
    height: 4rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    gap: 0.3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



/* Responsive styles */

/* For screens smaller than 1024px (tablets and large phones) */
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 10px;
        
    }
    .main-content {
        height: auto;
        max-height: 620px;
        overflow-y: auto;
    }
    .sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .profile-image img {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1rem;
    }

    .nav-icons {
        flex-direction: row;
        margin-top: 0;
    }

    .nav-icons a {
        margin: 0 10px;
    }

    .nav-icons a img {
        height: 40px;
    }

    .name-header {
        width: 100%;
        margin: 10px 0;
    }

    .name-header .name {
        font-size: 20px;
    }

    .main-wrapper {
        width: 100%;
    }

    .main-content {
        border-radius: 10px;
    }

    .hero-content {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .hero-text h2 {
        font-size: 2em;
    }

    .hero-text h3 {
        font-size: 1.2em;
    }

    .typing-text {
        font-size: 28px;
        min-width: 220px;
    }

    .main-img img {
        width: 15rem;
        height: 15rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-image {
       display: none;
    }

    .tools-technology {
        display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    }

    .skill {
        width: 130px;
    }

    .timeline::before {
        left: 20px;
    }

    .timeline-item {
        flex-direction: column;
    }

    .timeline-content {
        width: 100%;
        margin-left: 40px;
    }

    .project-wrapper {
        width: 100%;
    }

    #about,
    #skills,
    #projects,
    #contact {
        padding: 40px 20px;
    }
}
/* Scrolling effect for Tablets */
@media screen and (max-width: 1024px) {
    .scroll-container {
        scroll-snap-type: y proximity;
    }

    .section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}
 
/* Responsive design for mobile view/Screen */

@media screen and (max-width: 768px) {
    .main-content {
        height: auto;
        max-height: 600px;
        overflow-y: auto;
    }
/* 
    .sidebar .profile-image img{
        border-radius: 50%;
    } */

    .scroll-container {
        height: auto;
        overflow-y: visible;
    }

    .section {
        height: auto;
        min-height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }

    .hero-content {
        flex-direction: column-reverse;
        padding: 20px;
        height: auto;
    }

    .main-img img {
        width: 60vw;
        height: 60vw;
        max-width: 200px;
        max-height: 200px;
    }
    .about-image img{
        display: none;
    }

    /* Project section  */
    .timeline::before {
        left: 20px;
    }

    .skill{
        height: 70px;
        padding: 10px 20px;
    }

    .timeline-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .timeline-item:nth-child(even) {
        flex-direction: column;
    }

    .timeline-content {
        width: 90%;
        margin-bottom: 30px;
    }

    .project-wrapper {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .project-image {
        padding-bottom: 56.25%;
    }

    .project-links {
        top: -30px;
    }

    .project-btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    .timeline-content h3 {
        font-size: 1.1rem;
    }

    .project-description {
        font-size: 0.9rem;
    }

    .tech-stack span {
        font-size: 0.7rem;
        padding: 2px 6px;
    }

    #thanks{
        text-align: center;
        font-size: 14px;
    }
}
/* 
@media screen and (max-width: 360px) {
    .main-img img {
        width: 70vw;
        height: 70vw;
        max-width: 150px;
        max-height: 150px;
    }

    .profile-image img {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }

    .project-wrapper {
        max-width: 250px;
    }

    .project-btn {
        font-size: 10px;
        padding: 4px 8px;
    }

    .timeline-content h3 {
        font-size: 1rem;
    }

    .project-description {
        font-size: 0.8rem;
    }

    .tech-stack span {
        font-size: 0.6rem;
        padding: 1px 4px;
    }
} */

/* Scrolling effect for mobile */
@media screen and (max-width: 768px) {
    .scroll-container {
        scroll-snap-type: y proximity;
    }

    .section {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}





